.texte {
    text-align: center;
    font-family: 'Trebuchet MS';
}

.menu {
    font-family: 'Trebuchet MS';
    background-color: antiquewhite;
    display: grid;border: none;
    grid: 90px;
    width: 1265px;
    height: 80px;
    align-content: center;
    display: block;border: none;
    border: none;
}
.body {
    background-color:rgba(169, 147, 107, 0.628)
}
.Bouton {
    background-color: rgba(150, 98, 40, 0.584);
}
.Linkedin {
    width: 70px;
}
.option {
    display: grid;
    grid-column: 80px;
    grid-row: 80px;
    justify-content: center;
    text-align: left;
}
.SISR, .SLAM {
    text-align: center;
}
.Cyber {
    text-align: left;
}
#Bouton1, #Bouton2, #Bouton3, #Bouton4, #Bouton5 {
    width: 160px;
    height: 45px;
    border: none;
    font-size: 12px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
}
#Bouton1 {
    position: relative;
    left: 350px;
    top: 18px;
    font-size: larger;
}
#Bouton2 {
    position: relative;
    left: 335px;
    top: 18px;
    font-size: larger;
}
#Bouton3 {
    position: relative;
    left: 365px;
    top: 18px;
    font-size: larger;
}
#Bouton4 {
    position: relative;
    left: 380px;
    top: 18px;
    font-size: larger;
}
#Bouton5 {
    position: relative;
    left: 395px;
    top: 18px;
    font-size: larger;
}
#Cyber {
    background-color: rgb(7, 186, 31); 
}
#Cyber:hover {
    background-color: red;
}
.Cybersec {
    background-color: black;
    color: white;
    font-family: 'Courier New';
}
.alinea {
    text-indent: 25px;
}
footer {
    font-family: 'Trebuchet MS';
    color: rgb(70, 18, 134);
}
.def {
    text-align: left;
}
#Contact {
    display: grid;border: none;
    grid: 90px;
    width: 1265px;
    height: 80px;
    align-content:baseline;
    display: block;border: none;
}