.texte {
    text-align: center;
    font-family: 'Trebuchet MS';
}

.body {
    background-color: rgba(169,147,107, 0.628);
}

li {
    justify-content: center;
}

ul {
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  rgba(150, 98, 40, 0.584);
  }
  
  ::-webkit-scrollbar-track {
    background: antiquewhite;
  }

  .option {
    display: grid;
    grid-column: 80px;
    grid-row: 80px;
    justify-content: center;
    text-align: left;
  }