.texte {
    text-align: center;
    font-family: 'Courier New';
    max-width: 500px;
    margin: auto;
}

.body {
    background-color: black;
    color: white;
}

li {
    justify-content: center;
}

ul {
    justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  rgb(198, 43, 226);
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(133, 56, 206);
  }

  .option {
    display: grid;
    grid-column: 80px;
    grid-row: 80px;
    justify-content: center;
    text-align: left;
  }

  /* loader */

  #loader{
    background: url('loadingCodeWD2.gif') 50% 50% no-repeat rgba(0, 0, 0, 0.8);
    cursor: wait;
    height: 100%;
    position: fixed;
    width: 100%;
  }
  
  .fondu-out {
      opacity: 0;
      transition: opacity 0.4s ease-out;
      visibility: hidden;
  }