.footer {
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS';
    color: rgb(70, 18, 134);
    font-weight: bold;
}

.menuUwU {
    font-family: 'Trebuchet MS';
    background-color: rgb(133, 56, 206);
    width: 99%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoutonLOL {
    width: 160px;
    height: 45px;
    border: none;
    font-size: 12px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color: rgb(198, 43, 226);
    margin: 10px;
}

.BoutonLOL:hover {
    background-color: rgb(140, 21, 161);
}
.menuVeille {
    background-color: rgba(255, 140, 0, 0.45);
    font-weight: bold;
    font-family: 'Trebuchet MS';
    width: 99%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoutonVeille {
    width: 140px;
    height: 45px;
    border: none;
    font-size: 12px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color: rgb(255, 180, 89);
    margin: 10px;
}

.BoutonVeille:hover {
    background-color: rgb(236, 153, 45);
}

.menuProjet {
    background-color: rgb(7, 117, 148);
    font-weight: bold;
    font-family: 'Trebuchet MS';
    width: 99%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoutonProjet {
    width: 160px;
    height: 45px;
    border: none;
    font-size: 12px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    background-color:  rgb(5, 155, 155);
    margin: 10px;
}

.BoutonProjet:hover {
    background-color: aquamarine;
}

.menu, #Cyber {
    font-family: 'Trebuchet MS';
    background-color: rgb(7, 186, 31);
    width: 99%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Bouton {
    background-color: rgb(8, 148, 27);
    width: 160px;
    height: 45px;
    border: none;
    font-size: 12px;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    margin: 10px;
}

.Bouton:hover {
    background-color: rgb(199, 18, 18);
}

@media screen and (max-width: 900px) {
    .bloc {
      width: 90%;
    }
    .menuUwU {
      width: 99%;
    }
    .BoutonLOL {
        width: 100%;
    }
    embed {
        width: 90%;
    }
    .menuVeille {
        width: 99%;
    }
    .BoutonVeille {
        width: 100%;
    }
    .menuProjet {
        width: 99%;
    }
    .BoutonProjet {
        width: 100%;
    }
    #Projet {
        width: 30%;
    }
    .bloc {
        width: 90%;
    }
      .menu {
        width: 99%;
    }
      .Bouton {
          width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .bloc {
      width: 90%;
    }
    .menuUwU {
      width: 99%;
    }
    .BoutonLOL {
        width: 100%;
    }
    embed {
        width: 90%;
    }
    .menuVeille {
        width: 99%;
    }
    .BoutonVeille {
        width: 100%;
    }
    .menuProjet {
        width: 99%;
    }
    .BoutonProjet {
        width: 100%;
    }
    #Projet {
        width: 30%;
    }
    .bloc {
        width: 90%;
    }
      .menu {
        width: 99%;
    }
      .Bouton {
          width: 100%;
    }
}

