.Linkedin {
    width: 70px;
    margin-left: 4px;
}

.Github {
  width: 70px;
  margin-left: 4px;
}

#CV {
  justify-content: center;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  rgb(198, 43, 226);
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(133, 56, 206);
  }

.body {
    background-color: black;
    color: white;
}

#Projet {
  width: 160px;
  height: 45px;
  border: none;
  font-size: 12px;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: rgb(7, 117, 148);
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#Projet:hover {
  background-color: rgb(5, 155, 155);
}

.bloc {
  width: 800px;
  height: 570px;
  background-color: #202228;
  margin: 0 auto;
  margin-top: 1%;
}
H1, p, H3, H2 {
  margin: 1%;
}

.txt {
  margin-left: 17%;
}