.Linkedin {
    width: 70px;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  rgb(198, 43, 226);
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(133, 56, 206);
  }

.body {
    background-color: black;
    color: white;
}

#Projet {
  position: relative;
  left: 280px;
  bottom: 123px;
  width: 160px;
  height: 45px;
  border: none;
  font-size: 12px;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: rgb(7, 117, 148);
}

#Projet:hover {
  background-color: rgb(5, 155, 155);
}

.bloc {
  width: 1500px;
  height: 700px;
  background-color: #202228;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .bloc {
    width: 90%;
  }
  .menuUwU {
    width: 90%;
  }
  .Bouton {
      width: 100%;
  }
  embed {
      width: 90%;
  }
}